.button {
  cursor: pointer;
  background-color: $primary;
  font-size: 16px;
  color: $white;
  outline: none;
  padding: 10px 20px;
  width: auto;
  font-weight: 500;
  transition: ease 0.2s;
  text-align: center;
  text-decoration: none;
  border: 1px solid transparent;
  position: relative;

  &.dark {
    background-color: $dark;
    border: 1px solid $white;

    &::before {
      background-color: transparent;
      border: 1px solid $white;
    }
  }

  &.black {
    background-color: $text;

    &::before {
      background-color: #808080;
    }
  }

  &::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    right: 0;
    top: 0;
    z-index: -1;
    transition: ease 0.2s;
    background-color: #ffdd9e;
  }
  
  &:hover {
    &::before {
      transition: ease 0.2s;
      right: -5px;
      top: 5px;
    }
  }
}