@import '../variables.scss';
@import '../mixin.scss';

.title {
  color: $text;
  font-size: 45px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 20px;
  @include sp  {
    font-size: 24px;
  }

  &.dark {
    color: $white;
  }
}

.swiper {
  cursor: grab !important;
}

.swiper-pagination-bullet {
  background-color: $primary !important;
}

.icons {
  @include sp {
    height: 30px;
  }
}

.loader, 
.error,
.success {
  height: 100vh;
  width: 100vw;
  z-index: -1;
  position: fixed;
  top: 0;
  opacity: 0;
  visibility: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: ease-in 0.2s;
  
  &.show {
    z-index: 20;
    opacity: 1;
    transition: ease-in 0.2s;
    visibility: visible;
  }
}

.loader {
  background-color: rgba(0, 0, 0, 0.427);
}


.error {
  background-color: rgba(99, 99, 99, 0.415);
}

.alert {
  max-width: 500px;
  height: 200px;
  font-size: 20px;
  display: flex;
  padding: 50px;
  gap: 20px;
  background-color: $white;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  border-radius: 10px;
  position: relative;
  box-shadow: 0 20px 20px rgba(80, 80, 80, 0.214);
  @include sp {
    margin: 0 20px;
  }

  &.red {
    color: red;
  }

  &.green {
    color: green;
  }

  img {
    width: 50px;
  }
}

.svg {
  position: fixed;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  transition: ease 0.5;
  z-index: -1;
  opacity: 0;
  visibility: hidden;

  svg {
    width: 200px;
  }

  &.show {
    opacity: 1;
    z-index: 10;
    visibility: visible;
    transition: ease 0.5;
    background: $primary;
  }
}

.custom__switch-wrap {
  position: relative;
}

.custom__switch {
  display: inline-block;
  width: 60px;
  height: 30px;

  input {
    opacity: 0;
    width: 0;
    height: 0;

    &:checked + .round {
      background-color: $primary;
      border: 1px solid $white;
    }
  
    &:focus + .round {
      box-shadow: 0 0 1px #2196F3;
    }

    &:checked + .round:before {
      -webkit-transform: translateX(26px);
      -ms-transform: translateX(26px);
      transform: translateX(26px);
    }
  }

  .round {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 34px;
    border: 1px solid transparent;

    &::before {
      position: absolute;
      content: "";
      height: 20px;
      width: 20px;
      left: 4px;
      bottom: 4px;
      background-color: white;
      -webkit-transition: .4s;
      transition: .4s;
      border-radius: 50%;
    }
  }
}

.wrapper {
  width: 100%;

  &.dark {
    background-color: $dark;
  }
}