.sidebar {
  opacity: 1;
  width: 0;
  right: -100%;
  height: 100%;
  z-index: 20;
  position: fixed;
  transition: ease 0.5s;
  display: none;
  justify-content: flex-end;
  background-color: transparent;
  @include sp {
    display: flex;
  }
  
  &__wrapper{
    box-shadow: 0 -20px 10px grey;
    background-color: $primary;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    padding: 50px 0;
    display: flex;
    height: 100%;
    width: 60px;
    gap: 20px;
  }

  &__logo {
    width: 30px;
    position: absolute;
    bottom: 3%;

    img {
      width: 100%;
    }
  }

  &__ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  &__links {
    font-size: 18px;
    color: $text;
    transition: ease 0.2s;

    &:hover {
      color: $primary;
      transition: ease 0.2s;
    }
  }
}