.sidebar {
  opacity: 1;
  gap: 20px;
  width: 80%;
  height: 100%;
  right: -100%;
  z-index: 20;
  padding: 50px;
  display: none;
  position: fixed;
  align-items: center;
  transition: ease 0.5s;
  flex-direction: column;
  background-color: $primary;
  justify-content: space-between;
  box-shadow: 0 -20px 10px grey;
  @include sp {
    display: flex;
  }

  &__logo {
    width: 100px;
    @include sp {
      width: 60px;
    }

    img {
      width: 100%;
    }
  }

  &__ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 50px;
  }

  &__links {
    font-size: 30px;
    color: $text;
    transition: ease 0.2s;

    &:hover {
      color: $primary;
      transition: ease 0.2s;
    }
  }
}